<main>
  <h1>About me</h1>
  <div class="col-xl-3 col-sm-6 mb-5">
    <div class="bg-white rounded shadow-sm py-5 px-4">
      <img src="assets/images/robin_picture.jpeg" alt="Rob" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Robin Ghyselinck</h5>
      <span class="small text-uppercase text-muted">Software Engineer</span>

      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Send email to Robin">
          <a href="mailto:rghyselinck@gmail.com" target="_blank" class="social-link">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Visit Robin's Twitter">
          <a href="https://twitter.com/GhyselinckRobin" class="social-link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Check out Robin's LinkedIn">
          <a href="https://www.linkedin.com/in/rghyselinck/" class="social-link">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Se Robin's NFT on Opensea">
          <a href="https://opensea.io/RobZombi3">
            <i class="fa fa-anchor"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
