<main>
  <!-- Configuration -->
  <div class="card-body">
    Config
  </div>
  <!-- ./configuration -->

  <!-- DCF -->
  <div class="card-body">
    <h1>Company name</h1>

    <div class="table-responsive">
      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>Revenue</th>
          <th>EBITDA</th>
        </tr>
        </thead>

        <tbody>
          <tr>
            <td>Revenue 1000</td>
            <td>EBITDA 500</td>
          </tr>
        </tbody>
      </table>
      <!-- ./Table -->
    </div>
  </div>
</main>
