<main>
  <!-- Configuration -->
  <div class="card-body">
    <h1>Configuration</h1>
    <div class="col-md-7 col-lg-8">
      <!-- Form -->
      <form [formGroup]="valForm"
            (submit)="getValuation()"
            class="needs-validation" novalidate
      >
        <div class="row g-3">
          <!-- Company Name -->
          <div class="col-12 mb-3">
            <label for="companyName" class="form-label">Company name</label>
            <input type="text" id="companyName" class="form-control" placeholder="Company name"/>
          </div>

          <!-- Industry -->
          <div class="col-12 mb-3">
            <label for="industry" class="form-label">Industry</label>
            <select id="industry" class="form-select"
                    formControlName="industry" [(ngModel)]="selectedIndustry">
              <option selected>Select industry</option>
              <option *ngFor="let i of industries" [ngValue]="i">{{i.name}}</option>
            </select>
          </div>

          <!-- Revenue -->
          <div class="col-md-6">
            <label for="revenue" class="form-label">Revenue 21'</label>
            <input type="text" id="revenue" formControlName="revenue"
                   class="form-control" placeholder="Revenue FY21"/>
          </div>
          <!-- EBITDA -->
          <div class="col-md-6">
            <label for="ebitda" class="form-label">EBITDA 21'</label>
            <input type="text" id="ebitda" formControlName="ebitda"
                   class="form-control" placeholder="EBITDA FY21"/>
          </div>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-primary"
                [disabled]="!valForm.valid">Submit
        </button>
      </form>
      <!-- ./form -->
    </div>
  </div>
  <!-- ./configuration -->

  <p>{{valForm.value | json }}</p>

  <!-- DCF -->
  <div class="card-body">
    <h1>Multiples</h1>
      <div class="table-responsive">
        <!-- Table -->
        <table class="table">
          <thead>
          <tr>
            <th>Method</th>
            <th>Metric</th>
            <th>Multiple</th>
            <th>Enterprise Value</th>
          </tr>
          </thead>

          <tbody>
            <tr>
              <td>Revenue Multiple</td>
              <td>{{this.valForm.get('revenue')?.value}}</td>
              <td>{{this.valForm.get('industry.revenueMultiple')?.value}}</td>
              <!--<td>{{getResult()}}</td>-->
            </tr>
            <tr>
              <td>EBITDA Multiple</td>
              <td>{{this.valForm.get('ebitda')?.value}}</td>
              <td>{{this.valForm.get('industry.ebitdaMultiple')?.value}}</td>
              <td>1100</td>
            </tr>
          </tbody>
        </table>
        <!-- ./Table -->
      </div>
    </div>
</main>
