<main>
  <h1 class="h3 mb-3 fw-normal">Discover finance apps</h1>

  <div class="container px-4" id="financeApps">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i class="fa fa-university"></i>
        </div>
        <div>
          <h2 class="h2">Mortgage Tool</h2>
          <p>This tool helps you simulate a mortgage and shows how variability in parameters impact monthly installments amount.</p>
          <a href="#" class="btn btn-primary">
            Check it out
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i class="fa fa-money"></i>
        </div>
        <div>
          <h2>Valuation Tool</h2>
          <p>This tool helps you value a company based on several valuation methods such as DCF and Multiples methodologies.</p>
          <a href="#" class="btn btn-primary">
            Check it out
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i class="fa fa-area-chart"></i>
        </div>
        <div>
          <h2>Markets Tool</h2>
          <p>This tool helps you follow stock markets trend by giving quantitative measures and visualisation.</p>
          <a href="#" class="btn btn-primary">
            Check it out
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
