<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <img src="assets/images/nft.png" alt="Rob logo" width="40" class="img-fluid rounded-circle mb-3">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4" href="/">{{ title }}</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/blog">Blog</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/programming">Programming</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/finance">Finance</a>
        <a class="py-2 text-dark text-decoration-none" routerLink="/about">About</a>
      </nav>
      <!-- ./nav -->
    </div>
  </header>
  <!-- ./header -->

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer-->
  <footer class="py-2 bg-black">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Robin Ghyselinck</p></div>
  </footer>
  <!-- ./footer -->
</div>
