<main>
  <h1>Blog</h1>

  <!-- List -->
  <ul class="list-group list-group-flush">
    <li *ngFor="let article of articles" class="list-group-item">
      <div class="row">
        <a class="link-secondary" routerLink="/show/{{article.id}}">
          <h2 class="h2">{{article.title}}</h2>
        </a>
        <h4 class="small text-muted fst-italic mb-2">Posted by {{article.creator}} on {{article.createDate}}</h4>
        <h3 class="h3">{{article.description}}</h3>
  <!--      <button type="button" class="button btn-primary" title="update article">Update
        </button>
        <button type="button" class="button btn-danger" title="delete article"
                (click)="delete(article)">Delete
        </button>-->
      </div>
    </li>
  </ul>
</main>
